# 1) we are using pandas dummy variable.

In [141]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [142]:
df = pd.read_csv("homeprices.csv")

In [143]:

df.describe()

              area          price
count    13.000000      13.000000
mean   3146.153846  629230.769231
std     453.900475   57621.109914
min    2600.000000  550000.000000
25%    2800.000000  585000.000000
50%    3100.000000  615000.000000
75%    3600.000000  680000.000000
max    4000.000000  725000.000000

In [144]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [145]:
df_dummy = pd.get_dummies(df.town, dtype=int)

In [146]:
df=pd.concat([df,df_dummy],axis=1)

In [147]:
df

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [148]:
df.drop(["town","robinsville"],axis=1) #after getting the dummy variable we drop the town coln.
#we only keep (n-1)CCOLUMNS of dummy variable by convention. so here we are droping robinsville.

    area   price  monroe township  west windsor
0   2600  550000                1             0
1   3000  565000                1             0
2   3200  610000                1             0
3   3600  680000                1             0
4   4000  725000                1             0
5   2600  585000                0             1
6   2800  615000                0             1
7   3300  650000                0             1
8   3600  710000                0             1
9   2600  575000                0             0
10  2900  600000                0             0
11  3100  620000                0             0
12  3600  695000                0             0

In [149]:
X=df[['area','west windsor',"monroe township"]]
Y=df[['price']]

In [150]:
X

    area  west windsor  monroe township
0   2600             0                1
1   3000             0                1
2   3200             0                1
3   3600             0                1
4   4000             0                1
5   2600             1                0
6   2800             1                0
7   3300             1                0
8   3600             1                0
9   2600             0                0
10  2900             0                0
11  3100             0                0
12  3600             0                0

In [151]:
Y

     price
0   550000
1   565000
2   610000
3   680000
4   725000
5   585000
6   615000
7   650000
8   710000
9   575000
10  600000
11  620000
12  695000

In [152]:
reg = linear_model.LinearRegression()

In [153]:
reg.fit(X,Y)

LinearRegression()

In [154]:
reg.predict([[2600,0,1]])

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[539709.73984091]])

In [155]:
reg.predict([[2800,0,0]])

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[590775.6396474]])

In [156]:
reg.predict([[3400,1,0]])

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[681241.66845839]])

In [157]:
reg.score(X,Y)

0.9573929037221873

# now we will use LabelEncoder from sklearn

In [158]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [159]:
dfle=pd.read_csv("homeprices.csv") #dataframe of labelencoder

In [160]:
dfle.town = le.fit_transform(dfle.town)

In [161]:
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

-  0 -> monroe
-  1 -> west windsor
-  2 -> robinsville

In [162]:
x=dfle[['town','area']].values #here, we are using .value so that x will be a 2d array not a df

In [163]:
y=dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [164]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("town", OneHotEncoder(), [0])], remainder = 'passthrough')


x = ct.fit_transform(x)

In [165]:
x

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [167]:
x = x[:,1:]

In [168]:
reg.fit(x,Y)

LinearRegression()

In [169]:
reg.predict([[1,0,2800]])

array([[590775.63964739]])