# Machine Learning Tutorial - Naive Bayes: Exercise 
## Use wine dataset from sklearn.datasets to classify wines into 3 categories. Load the dataset and split it into test and train. After that train the model using Gaussian and Multinominal classifier and post which model performs better. Use the trained model to perform some predictions on test data.

In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine

In [3]:
wine = load_wine()

In [5]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [11]:
df = pd.DataFrame(data = wine.data, columns=wine.feature_names)

In [12]:
df

     alcohol  malic_acid   ash  alcalinity_of_ash  ...  color_intensity   hue  od280/od315_of_diluted_wines  proline
0      14.23        1.71  2.43               15.6  ...             5.64  1.04                          3.92   1065.0
1      13.20        1.78  2.14               11.2  ...             4.38  1.05                          3.40   1050.0
2      13.16        2.36  2.67               18.6  ...             5.68  1.03                          3.17   1185.0
3      14.37        1.95  2.50               16.8  ...             7.80  0.86                          3.45   1480.0
4      13.24        2.59  2.87               21.0  ...             4.32  1.04                          2.93    735.0
..       ...         ...   ...                ...  ...              ...   ...                           ...      ...
173    13.71        5.65  2.45               20.5  ...             7.70  0.64                          1.74    740.0
174    13.40        3.91  2.48               23.0  ...             7.30  0.70                          1.56    750.0
175    13.27        4.28  2.26               20.0  ...            10.20  0.59                          1.56    835.0
176    13.17        2.59  2.37               20.0  ...             9.30  0.60                          1.62    840.0
177    14.13        4.10  2.74               24.5  ...             9.20  0.61                          1.60    560.0

[178 rows x 13 columns]

In [14]:
df.count()

alcohol                         178
malic_acid                      178
ash                             178
alcalinity_of_ash               178
magnesium                       178
total_phenols                   178
flavanoids                      178
nonflavanoid_phenols            178
proanthocyanins                 178
color_intensity                 178
hue                             178
od280/od315_of_diluted_wines    178
proline                         178
dtype: int64

In [16]:
df.describe()

          alcohol  malic_acid         ash  ...         hue  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  178.000000  ...  178.000000                    178.000000   178.000000
mean    13.000618    2.336348    2.366517  ...    0.957449                      2.611685   746.893258
std      0.811827    1.117146    0.274344  ...    0.228572                      0.709990   314.907474
min     11.030000    0.740000    1.360000  ...    0.480000                      1.270000   278.000000
25%     12.362500    1.602500    2.210000  ...    0.782500                      1.937500   500.500000
50%     13.050000    1.865000    2.360000  ...    0.965000                      2.780000   673.500000
75%     13.677500    3.082500    2.557500  ...    1.120000                      3.170000   985.000000
max     14.830000    5.800000    3.230000  ...    1.710000                      4.000000  1680.000000

[8 rows x 13 columns]

In [22]:
target = pd.DataFrame(wine.target, columns=["class"])

In [25]:
target.value_counts()

class
1        71
0        59
2        48
Name: count, dtype: int64

In [29]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
GNB = GaussianNB()
MNB = MultinomialNB()

models = {
    'GNB' : GaussianNB(),
    'MNB' : MultinomialNB()
}

In [27]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(df,target,test_size=0.2)

In [28]:
from sklearn.model_selection import cross_val_score

In [39]:
for name,model in models.items():
    scores = cross_val_score(model,xtrain,ytrain,cv=5)
    print(f'Model: {name} Score: {scores}')
    print(f'Model: {name} Aversge Score {scores.mean()}')

Model: GNB Score: [0.96551724 1.         1.         0.96428571 1.        ]
Model: GNB Aversge Score 0.9859605911330049
Model: MNB Score: [0.93103448 0.75862069 0.82142857 0.89285714 0.89285714]
Model: MNB Aversge Score 0.8593596059113301

C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# as we can see GNB is out-performing MNB

In [45]:
model = GNB.fit(xtrain,ytrain)

C:\Users\adity\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [46]:
model.score(xtest,ytest)

0.9722222222222222

In [49]:
model.predict(xtest[3:13])

array([1, 2, 1, 0, 1, 1, 1, 1, 1, 0])

In [50]:
ytest[3:13]

     class
73       1
168      2
76       1
16       0
85       1
123      1
121      1
93       1
100      1
53       0